@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace UserPortal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Portal</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @if(Request.Cookies["style"] == "True")
    {
        <link rel="stylesheet" href="/css/Dark/cyborg.css"/>;
    }
    else if (Request.Cookies["style"] == "False" )
    {
        <link rel="stylesheet" href="/css/Light/sandstone.css" />
        ;
    }
    else
    {
        <link rel="stylesheet" href="/css/Light/sandstone.css" />
        ;
    }
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />-->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
   <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
