@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using UserPortal.Shared

<div><NavMenu />
    <section class="hero">
        <div class="hero-body">
            <p class="title">
                Binar Solutions
            </p>
            <p class="subtitle">
                User Portal
            </p>
        </div>
    </section>
    <div class="columns">
        <div class="column is-two-fifths">
            <div class="card">
                <div class="card-content">
                    <p class="title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    </p>
                    <p class="subtitle">
                        Lorem ipsum dolor sit amet
                    </p>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        Lorem ipsum
                    </p>
                    <p class="card-footer-item">
                        Lorem ipsum dolor sit amet
                    </p>
                </footer>
            </div>
        </div>
        <div class="column is-two-fifths">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="column is-two-fifths">
            <p>Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</div>
  

